{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}{% trans "Import addresses" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="../../../../">
    {% trans "Home" %}
  </a>
   &rsaquo; 
   <a href="../../../">
     {% trans "VCard" %}
  </a>
  &rsaquo; 
  <a href="../../">
     {% trans "Contact" %}
  </a>
  &rsaquo;
  <a href="../">
    {% trans "Import VCF" %}
  </a>
  &rsaquo;
    {% trans "Confirm import" %}
</div>
{% endblock %}

{% block content %}
<h1>{% trans "Are you sure you want to import" %} {{ contactSet|length }} {% trans "contacts?" %}</h1>
<div id="content-main">
    {% if errorCount > 1 %}{{errorCount}} {% trans "contacts can only be imported partially! Some information will be lost (indicated in red below)" %} {% endif %}
    {% if errorCount == 1 %} {% trans "One contact can only be imported partially! Some information will be lost (indicated in red below)" %} {% endif %}

    <ul>
    {% for contact in contactSet %}
    <li>{{ contact }} <span style="color: rgb( 255,0,0)"> {% for error in contact.errorList %} {{error}} {% if not forloop.last %} , {% endif %} {% endfor %} </span> </li>
    {% endfor %}
    </ul>
    <form enctype="multipart/form-data" method="post" action="uploadVCF/">
    {% csrf_token %}
    <input type="submit" name="confirm" value="{% trans "Confirm" %}"/>
    <input type="submit" name="cancel" value="{% trans "Cancel" %}"/>

    </form>
</div>
<br/>
<br/>

{% endblock %}
