{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}{% trans "Import addresses" %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="../../../../">
    {% trans "Home" %}
  </a>
   &rsaquo; 
   <a href="../../../">
     {% trans "VCard" %}
  </a>
  &rsaquo; 
  <a href="../../">
     {% trans "Contact" %}
  </a>
  &rsaquo;
  <a href="../">
    {% trans "Import VCF" %}
  </a>
  &rsaquo;
    {% trans "Error Message" %}
</div>
{% endblock %}

{% block content %}
<h1>{% trans "There was an error in your vCard file" %}</h1>
<div id="content-main">
	<a href=".."> {% trans "Load a different vCard File" %} </a><br/>
	<a href="../../"> {% trans "Back to contacts" %} </a>

</div>
<br/>
<br/>

{% endblock %}
